{% extends 'Admin.html' %}
{% block start %}
{%if usersn%}
<h1 ><center>USERS</center></h1>
<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Number of Post</th>
            <th>Action</th>
        </tr>
    </thead>
{%for users in usersn%}
    <tbody>
        <tr>
            <td>{{users.first_name}}</td>
            <td>{{users.last_name}}</td>
            <td>{{users.username}}</td>
            <td>{{users.post_count}}</td>
            <td class="action-column"> <!-- New "Action" column --> 
                <a href="/user_adlt/{{users.id}}" style="color: red;">Delete</a>
            </td>
        </tr>
    </tbody>
{%endfor%}
</table>
{%endif%}

{% endblock %}
